/* 

    The CSS present in this file is applicable to all HTML files.

*/

@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Pinyon+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gurajada&display=swap');

:root {
    --background-color: #081831;
}

/* 

    Fonts

*/

.font-white {
    color: white;
}

.font-gurajada {
    font-family: "Gurajada", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.font-hammersmith-one {
  font-family: "Hammersmith One", sans-serif;
  font-weight: 400;
  font-style: normal;
}